* {
  background-color: white; /* Silver-ish */
}

@media (color) {
  * {
    background-color: hsl(28, 1%, 82%); /* Silver-ish */
  }
}

button:hover {
  color: blue;
  background-color: rgb(52, 226, 238);
}
